@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// roots// roots// roots// roots// roots// roots
$bold-blk: #14192d;
$blk: #282b44;
$grays: #adadad;
$fnt: 'Noto Sans JP', sans-serif;
$fnt-2: 'Roboto Condensed', sans-serif;
$rbto: 'Roboto', sans-serif;


// roots// roots// roots// roots// roots// roots
@mixin liner {
    background: linear-gradient(90deg, #feccae,#f8af83);
}

%justify{
    justify-content:  flex-start !important;
}

@mixin Displayer($jc: center, $ai: center, $fd: row) {
        display: flex;
        justify-content: $jc;
        align-items: $ai;
        flex-direction: $fd;
}

.none{
    display: none !important;
}

body{
    height: 100vh;
    @include liner();
    
    .container{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .card{
            height: 100vh;
            @include Displayer();
            .to-do-list{
                
                width: 350px;
                height: 600px;
                background: $blk;
                overflow: hidden;
                .top-side{
                    height: 50%;
                    background: white;
                    @include Displayer();
                    .center-text{
                        text-align: center;
                        h1{
                            font-size: 55px;
                            font-family: $fnt;

                        }
                        h4{
                            font-family: $fnt;
                            font-size: 12px;
                            letter-spacing: 2px;
                            color: $grays;
                        }
                    }
                }
                .bottom-side{
                    height: 50%;
                    background: $blk;
                    @include Displayer();
                    .center-forms{
                        width: 90%;
                        font-family: $rbto;
                        div{
                            margin: 10px 0px;
                            width: 100%;
                            background: $bold-blk;
                            padding: 0px 20px;
                            color: white;
                            font-size: 13px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            *{
                                cursor: pointer;
                            }
                            i{
                                display: block;
                                flex: 2;
                                min-width: 100px;
                                background: #282b44;
                                
                            }
                            div{
                                flex: 6;                                
                                text-align: center;
                            }
                            
                        }

                        p{
                            cursor: pointer;
                            display: block;
                            text-align: center;
                            font-size: 12px;
                            color: $grays;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

.container{
    
    .to-do-card{
        width: 100%;
        height: 100vh;
        background: transparent;
        @include Displayer();
        
        .card-to-do{
            overflow: hidden !important;    
            width: 30%;
            height: 80%;
            background: white;
            .topside1{
                height: 13%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px;
                color: #909cff;
                border-bottom: 2px solid #c6d3fd7e;
                div{
                    padding: 10px 0px;
                    @include Displayer();
                    font-family: $rbto;
                    &:hover{
                        color: #6574f5;
                    }
                }
                .toLeftbtn{
                    flex: 2;
                    font-size: 15px;
                    cursor: pointer;
                }
                .toRightbtn{
                    flex: 2;
                    font-size: 15px;
                    cursor: pointer;
                    
                }
                .Dayslight{
                    font-size: 14px;
                    flex: 5;
                    padding: 9px 0px;
                    font-weight: 700;
                    text-transform: uppercase;
                    user-select: none;
                    span{
                        margin-left: 10px;
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                    
                }
            }
            .scroller{
                overflow-y: scroll;
                scrollbar-width: 5px;
                
            }
            .middleside1::-webkit-scrollbar-thumb{
                width: 5px !important;
                color: #8995ff !important;
            }
            .middleside1{
                height: 74%;    
                
                .box-table{
                    padding: 10px 20px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                        &:hover{
                            background-color: #dfdfdf7e;
                            

                        }
                    div{
                        @include Displayer();
                        padding: 10px 0px;
                        color: #909cff;
                    }
                    .checked-box{
                        flex: 1;
                        padding: 13px 0px;
                    }
                    .exercise{
                        flex: 5;
                        @extend %justify;    
                        padding-left: 20px;
                        text-transform: capitalize;
                    }
                    .garbage{
                        flex: 1;
                        padding: 13px 0px;
                        border-radius: 50%;
                        cursor: pointer;
                        &:hover{
                            background: #909cff;
                            color: white;
                            transition: .4s;
                        }
                    }
                    .updrawn{
                        text-decoration: line-through;
                    }
                    .time{
                        
                        flex: 1;
                        padding-right: 10px;
                        font-family: monospace;
                    }
                }
                
                
                
            }
            .bottomside1{
                height: 14%;
                color: #909cff;
                @include Displayer(space-between, center, row);
                padding: 0px 15px;
                position: relative;
                h5{
                    font-family: $rbto;
                    font-size: 12px;
                    text-transform: capitalize;
                    cursor: pointer;
                    span{
                        font-size: 14px;
                    }
                    
                }
                .addition{
                    font-family: $rbto;
                    font-size: 12px;
                    font-weight: 700;
                    cursor: pointer;
                    padding: 12px 10px;
                    user-select: none;
                    &:hover{
                        background-color: #6574f5;
                        color: white;
                        transition: .4s;
                    }
                   
                }
                .nonesd{
                    
                    right: 0 !important;
                    left: -100% !important;
                    transition: 3s;
                    background: white !important;
                    z-index: -10;
                }
                .inputdata{
                    position: absolute;
                    height: 100px;
                    background: hsl(216, 93%, 83%);
                    bottom: 70px;
                    left: 0;
                    right: 0;
                    padding: 10px 20px;
                    user-select: none;
                        
                    @include Displayer(space-between, center, );
                    
                    input{
                        outline: none;
                        padding: 7px 10px;
                        
                    }
                    input[type="text"]{
                        padding: 10px 10px;
                        border: 1px solid #79aefd;    
                    }
                    input[type="time"]{
                        outline: none;
                        border: 1px solid #79aefd;  
                        padding: 8px 10px !important;
                    }
                    .addbtn{
                        padding: 10px 15px;
                        background: #6d99fa;
                        border: none;
                        font-family: $rbto;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        color: white;
                            &:hover{
                                background: #6574f5;
                            }

                            &:active{
                                background: #6574f5;
                            }
                    }
                }
            }


        }
        
    }
}

@media (max-width: 1074px) {
    .card-to-do{
        width: 100vw !important;
        height: 100% !important;        
    }                
    .inputdata input[type="text"]{
        width: 70%;
        padding: 10px 3px !important;
    }
    .inputdata input[type="time"]{
        
        width: 28%;
    }
    .addbtn{
        width: 100%;
        margin-top: 10px;
    }
}